<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
    <style>
        body{
            background: teal
        }
    </style>
</head>
<body>
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pokémon_logo.svg/1200px-International_Pokémon_logo.svg.png" alt="logo pokemon" height="150" width="600">
        <br>
        <form action="/" method="POST">
            <label for="">Pokemon 1</label>
            <input type="text" name="pokemon1" placeholder="Ketik nama Pokemon 1 ...">
            <label for="">Pokemon 2</label>
            <input type="text" name="pokemon2" placeholder="Ketik nama Pokemon 2 ...">
            <br><br>
            <input type="submit" value="Battle"> 
        </form>
    </center>
    
</body>
</html>